<div class="login-container">
    <img class="logologin" src="assets/logofisio.png" alt="logo fisioterapia">  
    <h1>BEM-VINDO!</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <input placeholder="Email" type="email" id="email" name="email" ngModel required>
      </div>
      <div>
        <input placeholder="Senha" type="password" id="password" name="password" ngModel required>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>
